---
- name: Ensure scripts directory exists
  ansible.builtin.file:
    path: /home/zandronum/scripts
    state: directory
  tags:
    - zandronum

- name: Add brutal-coop-doom2 serverscript
  ansible.builtin.template:
    src: brutal-coop-doom2.sh.j2
    dest: /home/zandronum/scripts/brutal-coop-doom2.sh
    owner: zandronum
    group: zandronum
    mode: 0755
  tags:
    - zandronum

- name: Add brutal-alien-vendetta-coop serverscript
  ansible.builtin.template:
    src: brutal-alien-vendetta-coop.sh.j2
    dest: /home/zandronum/scripts/brutal-alien-vendetta-coop.sh
    owner: zandronum
    group: zandronum
    mode: 0755
  tags:
    - zandronum

- name: Add coop serverscript
  ansible.builtin.template:
    src: coop-doom2.sh.j2
    dest: /home/zandronum/scripts/coop-doom2.sh
    owner: zandronum
    group: zandronum
    mode: 0755
  tags:
    - zandronum

- name: Add doomware serverscript
  ansible.builtin.template:
    src: doomware.sh.j2
    dest: /home/zandronum/scripts/doomware2.sh
    owner: zandronum
    group: zandronum
    mode: 0755
  tags:
    - zandronum

- name: Add samsara-reincarnation serverscript
  ansible.builtin.template:
    src: samsara-reincarnation.sh.j2
    dest: /home/zandronum/scripts/samsara-reincarnation.sh
    owner: zandronum
    group: zandronum
    mode: 0755
  tags:
    - zandronum

- name: Add strnghld serverscript
  ansible.builtin.template:
    src: strnghld.sh.j2
    dest: /home/zandronum/scripts/strnghld.sh
    owner: zandronum
    group: zandronum
    mode: 0755
  tags:
    - zandronum
