---
- name: Add users to a password file and ensure permissions are set
  community.general.htpasswd:
    path: /etc/nginx/.htpasswd
    name: "{{ item.name }}"
    password: "{{ item.password }}"
    owner: root
    group: www-data
    mode: 0640
  loop: "{{ nginx_htpasswd_users }}"
  tags:
    - nginx