---
- name: Ensure weights directory exists
  ansible.builtin.file:
    path: "/data/weights"
    state: directory
    mode: 0755
    group: root
    owner: root
  tags:
    - serge

- name: Ensure datadb directory exists
  ansible.builtin.file:
    path: "/data/datadb"
    state: directory
    mode: 0755
    group: root
    owner: root
  tags:
    - serge

- name: Pull Serge container
  community.docker.docker_image:
    name: "{{ serge_container_name }}:{{ serge_container_version }}"
    source: pull
  tags:
    - serge

- name: Deploy Serge container
  community.docker.docker_container:
    name: serge
    image: "{{ serge_container_name }}:{{ serge_container_version }}"
    state: started
    ports:
      - "{{ serge_host_port }}:8008"
    volumes:
      - "/data/datadb:/data/db/"
      - "/data/weights:/usr/src/app/weights"
  tags:
    - serge