---
extends: default

rules:
  braces:
    min-spaces-inside: 0 # yamllint defaults to 0
    max-spaces-inside: 1 # yamllint defaults to 0
    level: error
  brackets:
    max-spaces-inside: 1
    level: error
  comments:
    min-spaces-from-content: 1
    level: error
  comments-indentation: false
  document-start: disable
  # key-duplicates:
  #   forbid-duplicated-merge-keys: true # not enabled by default
  line-length:
    max: 160
    level: warning
  truthy: disable
  octal-values:
    forbid-implicit-octal: true # yamllint defaults to false
    forbid-explicit-octal: true # yamllint defaults to false

ignore: |
  .tox/
  .cache/
  .taskfiles/
