[defaults]
host_key_checking = False
collections_path = ./collections/ansible_collections
inventory = ./inventory
playbook_dir = ./playbooks
roles_path = ./roles:./roles_galaxy

[inventory]
enable_plugins = host_list, script, auto, yaml, ini, toml

[ssh_connection]
ssh_args = -C -o ControlMaster=auto -o ControlPersist=60s -o ServerAliveInterval=30 -o ServerAliveCountMax=10
pipelining = True
