---
- name: Ensure {{ generate_ssh_keypair_path }} directory exists
  ansible.builtin.file:
    path: "{{ generate_ssh_keypair_path }}"
    state: directory
    mode: 0700
    group: "{{ generate_ssh_keypair_group }}"
    owner: "{{ generate_ssh_keypair_user }}"
  tags:
    - generate_ssh_keypair

- name: Generate SSH key pair
  community.crypto.openssh_keypair:
    path: "{{ generate_ssh_keypair_path }}/id_{{ generate_ssh_keypair_type }}"
    type: "{{ generate_ssh_keypair_type }}"
    passphrase: "{{ generate_ssh_keypair_passphrase | default('') }}"
  tags:
    - generate_ssh_keypair
