---
- name: Install Python 3 and necessary tools
  ansible.builtin.apt:
    pkg:
      - python3
      - python3-pip
  environment:
    DEBIAN_FRONTEND: noninteractive
  become: true
  tags:
    - python

- name: Install system Python packages
  ansible.builtin.apt:
    pkg: "{{ python_system_packages }}"
  become: true
  tags:
    - python