<?xml version="1.0" encoding="utf-8"?>
<serversettings
  name="{{ barotrauma_server_name }}"
  public="{{ barotrauma_server_public }}"
  password="{{ barotrauma_server_pass }}"
  port="{{ barotrauma_server_gameport }}"
  queryport="{{ barotrauma_server_queryport }}"
  playstyle="{{ barotrauma_server_playstyle }}"
  maxplayers="{{ barotrauma_server_maxplayers }}"
  enableupnp="false"
  autorestart="false"
  LevelDifficulty="{{ barotrauma_server_difficulty }}"
  AllowedRandomMissionTypes="{{ barotrauma_server_allowedmissiontypes }}"
  AllowedClientNameChars="32-33,38-46,48-57,65-90,91-91,93-93,95-122,192-255,384-591,1024-1279,19968-21327,21329-40959,13312-19903,131072-173791,173824-178207,178208-183983,63744-64255,194560-195103"
  ServerMessage="{{ barotrauma_server_msg }}"
  tickrate="{{ barotrauma_server_tickrate }}"
  randomizeseed="True"
  userespawnshuttle="True"
  respawninterval="300"
  maxtransporttime="180"
  minrespawnratio="0.2"
  autorestartinterval="60"
  startwhenclientsready="True"
  startwhenclientsreadyratio="0.8"
  allowspectating="True"
  saveserverlogs="True"
  linesperlogfile="800"
  allowragdollbutton="True"
  allowfiletransfers="True"
  voicechatenabled="{{ barotrauma_server_voicechat }}"
  allowvotekick="True"
  allowendvoting="True"
  allowrespawn="True"
  botcount="{{ barotrauma_server_botcount }}"
  maxbotcount="{{ barotrauma_server_maxbotcount }}"
  botspawnmode="Normal"
  allowdisguises="True"
  allowrewiring="True"
  allowfriendlyfire="True"
  traitorsenabled="{{ barotrauma_server_traitors }}"
  subselectionmode="{{ barotrauma_server_subselect }}"
  modeselectionmode="{{ barotrauma_server_modeselect }}"
  endvoterequiredratio="0.6"
  kickvoterequiredratio="0.6"
  killdisconnectedtime="300"
  kickafktime="600"
  traitoruseratio="True"
  traitorratio="0.2"
  karmaenabled="True"
  karmapreset="default"
  gamemodeidentifier="{{ barotrauma_server_gamemode }}"
  missiontype="Random"
  autobantime="3600"
  maxautobantime="86400"
  lootedmoneydestination="Bank"
  maximumtransferrequest="999999"
/>
