version: "2.1"
services:
  heimdall:
    image: linuxserver/heimdall
    container_name: heimdall
    volumes:
      - {{ heimdall_data_path }}/config:/config
    environment:
      - PUID=1000
      - PGID=1000
      - TZ={{ heimdall_timezone }}
    ports:
      - 80:80
      - 443:443
    restart: {{ heimdall_restart }}
