---
- name: Create POSIX mount paths
  ansible.builtin.file:
    path: "{{ item.path }}"
    state: directory
    owner: "{{ item.owner }}"
    group: "{{ item.group }}"
    mode: "{{ item.mode }}"
  loop: "{{ posix_mount_paths }}"
  tags:
    - mounts

- name: Create POSIX mounts
  ansible.posix.mount:
    src: "{{ item.src }}"
    path: "{{ item.path }}"
    opts: "{{ item.opts }}"
    boot: "{{ item.boot }}"
    state: "{{ item.state }}"
    fstype: "{{ item.fstype }}"
  loop: "{{ posix_mounts }}"
  tags:
    - mounts

- name: Create bind mount paths
  ansible.builtin.file:
    path: "{{ item.path }}"
    state: directory
    owner: "{{ item.owner }}"
    group: "{{ item.group }}"
    mode: "{{ item.mode }}"
  loop: "{{ bind_mount_paths }}"
  tags:
    - mounts

- name: Create bind mounts
  ansible.posix.mount:
    src: "{{ item.src }}"
    path: "{{ item.path }}"
    opts: "{{ item.opts }}"
    boot: "{{ item.boot }}"
    state: "{{ item.state }}"
    fstype: "{{ item.fstype }}"
  loop: "{{ bind_mounts }}"
  tags:
    - mounts
