---
- name: Check for Python 3
  ansible.builtin.raw: test -e /usr/bin/python3
  changed_when: false
  failed_when: false
  register: check_python3
  tags:
    - linode_cli

- name: Install Python 3
  ansible.builtin.raw: apt -y update && apt install -y python3-minimal
  when: check_python.rc != 0
  tags:
    - linode_cli

- name: Check for PIP 3
  ansible.builtin.raw: test -e /usr/bin/pip3
  changed_when: false
  failed_when: false
  register: check_pip3
  tags:
    - linode_cli

- name: Install PIP 3
  ansible.builtin.raw: apt -y update && apt install -y python3-pip
  when: check_pip3.rc != 0
  tags:
    - linode_cli

- name: Ensure venv directory exists
  ansible.builtin.file:
    path: /root/.venv
    state: directory
    mode: 0755
    owner: root
    group: root
  tags:
    - linode_cli
