---
- name: Deploy RKE2 cluster
  hosts:
    - rke2_scheduler
    - rke2_worker
  become: true
  roles:
    - frozenfoxx.avahi
    - python
    - lablabs.rke2
    - frozenfoxx.ctop
    - frozenfoxx.task

- name: Install extra packages
  hosts:
    - rke2_scheduler
    - rke2_worker
  become: true
  tasks:
    - name: Install network share packages
      ansible.builtin.package:
        name:
          - cifs-utils
          - nfs-common
        state: present

- name: Update path for schedulers
  hosts:
    - rke2_scheduler
  become: true
  tasks:
    - name: Insert message about rke2 in .profile
      ansible.builtin.lineinfile:
        path: "~/.profile"
        line: '# Ansible - rke2 handling'
        insertafter: EOF

    - name: Insert /var/lib/rancher/rke2/bin into PATH in .profile
      ansible.builtin.lineinfile:
        path: "~/.profile"
        line: 'export PATH="${PATH}:/var/lib/rancher/rke2/bin"'
        insertafter: EOF

    - name: Insert KUBECONFIG in .profile
      ansible.builtin.lineinfile:
        path: "~/.profile"
        line: 'export KUBECONFIG=/etc/rancher/rke2/rke2.yaml'
        insertafter: EOF

- name: Deploy cluster tools
  hosts:
    - rke2_scheduler
  become: true
  roles:
    - andrewrothstein.k9s
