---
- name: Install packages
  hosts:
    - hypervisors
  become: true
  become_user: root
  tasks:
    - name: Install base system packages
      ansible.builtin.package:
        name: "{{ base_packages }}"
        state: present

- name: Install roles
  hosts:
    - docker
  become: true
  become_user: root
  roles:
    - frozenfoxx.avahi

- name: Deploy hypervisor host
  hosts: hypervisors
  roles:
    - frozenfoxx.mounts
