---
- name: Install roles
  hosts:
    - twitchandtear
  become: true
  become_user: root
  roles:
    - frozenfoxx.avahi

- name: Deploy twitchandtear server
  hosts: twitchandtear
  roles:
    - geerlingguy.nodejs
    - frozenfoxx.twitchandtear
